button {
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    transition: opacity 0.2s ease-in-out;
    border: 2px solid var(--dark-purple);
    opacity: 0.8;
    color: var(--white);

    &:hover {
        opacity: 0.9;
    }

    &.disabled {
        cursor: default;
        opacity: 0.2;

        &:hover {
            opacity: 0.2;
        }
    }

    &.primary {
        background-color: var(--purple);
        color: var(--white);
    }

    &.lg {
        font-size: 20px;
        padding: 20px;
    }

    &.image-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        opacity: 1;
        border: none;
        outline: none;

        >* {
            height: 100%;
            width: 100%;
        }

        &:hover {
            opacity: 1;
        }
    }
}