.signin-with-ms {
    height: 41px;
    width: 215px;
    background-image: url('/assets/microsoft/ms-signin_light.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    cursor: pointer;
}
