.play-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    >header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 20px 0;

        >#minecraft-create-france-title {
            width: 300px;
        }
    }

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 100px;
        height: 100%;
        width: 100%;

        >button {
            width: 300px;
            backdrop-filter: blur(10px);
        }
    }
}